body{
    background-color: black;
}
#section1{
    position: relative;
}
.font{
    position: absolute;
    left:12%;
    top:40%;
    width:30%;
}
.font1,.font2{
    font-family: 华文行楷;
    color: white;
}
.login{
    position: absolute;
    margin-left: 10%;
    margin-top: 28%;
    font-family: 华文仿宋;
}
@media (max-width:767px) {
    .login{
        font-size: 4px;
    }
    .login input{
        width:60%;
    }
     .login button{
        margin-left: 40%;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .login{
        font-size: 20px;
    }
}
@media (min-width:991px) {
    .login{
        font-size: 20px;
    }
}